@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:@ViewBag.BackgroundColor">
    <form action="/" method="post">
        <input type="text" name="colorName" placeholder="Enter Color Name" />
        <input type="submit" name="changeColorBtn" value="Update Color" />
    </form>

    <hr />

    <h3>@ViewBag.Data</h3>
    <h4>Is Data From Cache: @ViewBag.IsDataFromCache</h4>

    <p style="background-color:@ViewBag.Data">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <hr />

    <p>Process Name: @ViewBag.ProcessName</p>
    <p>Process Id: @ViewBag.ProcessID</p>
    <p>Color Value from File: @ViewBag.BackgroundColor</p>
    <p>Process List Count: @ViewBag.ProcessListCount</p>
    <ul>
        @foreach (var item in ViewBag.ProcessList)
        {
        <li>@item</li>
        }
    </ul>
</div>
